<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <nav>
        <div class="logo">Tienda de Juegos</div>
        <div class="nav-actions">
            <button class="btn-link" onclick="abrirCarrito()" id="contador-carrito"> Carrito   </button>
            <button class="btn-link" onclick="abrirModal()">Configuración</button>
            <button class="btn-danger-sm" onclick="cerrarSesion()">Cerrar Sesión</button>
        </div>
    </nav>

    <div class="container">
        <header class="main-header">
            <h1><%= mensaje %></h1>
            <p>Explora los títulos más épicos de la temporada</p>
        </header>
            <div class="filtros-container" style="display: flex; gap: 15px; margin-bottom: 20px; width: 300px; margin: 10px;">
                <input type="text" id="buscador" placeholder="Buscar juego..." onkeyup="filtrarCatalogo()" style="flex: 1; padding: 10px; border-radius: 8px; background: #252525; color: white; border: 1px solid #444;">
                <select id="filtro-precio" onchange="filtrarCatalogo()" style="flex: 1; padding: 10px; border-radius: 8px; background: #252525; color: white; border: 1px solid #444;">
                    <option value="todos">Todos los precios</option>
                    <option value="gratis">Gratis ($0)</option>
                    <option value="bajo">Menos de $400</option>
                    <option value="medio">$400 - $1000</option>
                    <option value="alto">Más de $1000</option>
                </select>
                <select id="filtro-genero" onchange="filtrarCatalogo()" style="flex: 1; padding: 10px; border-radius: 8px; background: #252525; color: white; border: 1px solid #444;">
                    <option value="todos">Todos los géneros</option>
                    <option value="Acción/RPG">Acción / RPG</option>
                    <option value="Shooter">Shooters</option>
                    <option value="Deportes">Deportes / Carreras</option>
                    <option value="Indie/Simulación">Indie / Estrategia</option>
                </select>
            </div>
        <div class="grid-juegos">
            <% if (productos && productos.length > 0) { %>
                <% productos.forEach(juego => { %>
                    <div class="card" data-id="<%= juego.id_producto %>" data-genero="<%= juego.genero %>">
                        <div class="card-content">
                            <span class="genero-tag"><%= juego.genero %></span>
                            <h3><%= juego.nombre %></h3>
                            <p><%= juego.descripcion %></p>
                            <span class="precio">$<%= juego.precio %></span>
                            
                            <div class="admin-controls-container"></div>

                            <button class="btn-primary" onclick="agregarAlCarrito('<%= juego.id_producto %>', '<%= juego.nombre %>', '<%= juego.precio %>')">
                                Agregar al Carrito
                            </button>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="no-products">
                    <p>No hay juegos disponibles en la base de datos.</p>
                </div>
            <% } %>
        </div>
    </div>

    <div id="modalConfiguracion" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h2>Mi Perfil</h2>
            <p>Actualiza tu información personal:</p>
            
            <form id="form-editar">
                <div class="form-group">
                    <label>Nombre Completo:</label>
                    <input type="text" id="edit-nombre" placeholder="Tu nombre" style="flex: 1; padding: 10px; border-radius: 8px; background: #252525; color: white; border: 1px solid #444; margin: 5px;">
                </div>
                <div class="form-group">
                    <label>Dirección de Envío:</label>
                    <input type="text" id="edit-direccion" placeholder="Tu dirección" style="flex: 1; padding: 10px; border-radius: 8px; background: #252525; color: white; border: 1px solid #444; margin: 5px;" required>
                </div>
                
            <div class="modal-buttons">
                <button type="button" class="btn-primary" onclick="validarYEnviarPerfil()" style="width: 200px;">Guardar Cambios</button>
                <button type="button" class="btn-danger-sm" onclick="cerrarModal()" style="padding: 12px;">Cancelar</button>
            </div>
            </form>
        </div>
    </div>

    <div id="modalCarrito" class="modal">
        <div class="modal-content" style="max-width: 600px;">
            <span class="close" onclick="cerrarCarrito()">&times;</span>
            <h2 style="color: var(--azul-primario);">Tu Carrito </h2>
            
            <div id="lista-carrito">
                <p style="color: var(--texto-tenue);">El carrito está vacío.</p>
            </div>

            <div id="total-carrito" style="margin-top: 20px; border-top: 1px solid var(--color-borde); padding-top: 15px; text-align: right;">
                <h3 style="margin: 0;">Total: <span id="precio-total" style="color: #2ecc71;">$0.00</span></h3>
            </div>

            <div class="modal-buttons" style="flex-direction: row; justify-content: space-between; margin-top: 20px;">
                <button class="btn-danger-sm" onclick="vaciarCarrito()" style="padding: 13px;">Vaciar</button>
                <button class="btn-primary" style="width: auto;" onclick="procesarCompra()">Finalizar Compra</button>
            </div>
        </div>
    </div>
    <div id="modalJuego" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalJuego()">&times;</span>
            <h2 id="modalTitulo">Agregar Juego</h2>
                <form id="form-juego">
                    <input type="hidden" id="juego-id">
                    
                    <div class="form-group">
                        <label>Nombre del Juego</label>
                        <input type="text" id="juego-nombre" required minlength="3">
                    </div>
                    
                    <div class="form-group">
                        <label>Precio (MXN)</label>
                        <input type="number" id="juego-precio" step="0.01" required min="0">
                    </div>
                    
                    <div class="form-group">
                        <label>Género</label>
                        <select id="juego-genero">
                            <option value="Shooter">Shooters</option>
                            <option value="Acción/RPG">Acción / RPG</option>
                            <option value="Deportes">Deportes / Carreras</option>
                            <option value="Indie/Simulación">Indie / Estrategia</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea id="juego-descripcion" rows="3" required minlength="10"></textarea>
                    </div>
                    
                    <button type="button" class="btn-primary" onclick="guardarJuego()">
                        Guardar Cambios
                    </button>
                </form>
        </div>
    </div>
    <script src="/js/tienda.js"></script>
</body>
</html>